.hbox{
  display: inline-block;
}
.vbox{
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
}
.clear-float:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear-float{zoom:1} 