$select_course_width:500px;
.select-course {
    display: inline-block;
}
.select-course-title {
    font-weight:bold;
}
.treelistexd {
    margin-top:-10px; 
    width:100%;
   
    .treelist-item {        
        position: relative;
        border: 1px solid #EFEFEF;
        border-radius: 2px;
        min-width: 455px;
        margin: 10px 0;
        //border-left: 5px solid #aaa;
        background: rgba(238,238,238,0.34);
        &.presymbol{
            &::before{
                font-family: "rs-font";
                content: "\e9b9";
                position: absolute;
                speak: none;
                left: -33px;
                color: #555;
                display: block;
                font-size: 30px;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .field-text{
        float: left;
        border-left: 5px solid #aaa;
        margin-right: 15px;
        label{
            float: left;
            height: 30px;
            display: block;
            line-height: 30px;
            padding: 0 5px;
            margin-bottom: 0;
        }
        input{
            float: left;
            width: 200px;
        }
    }
    .form-field{
        width: 100%;
        height: 30px;
        padding: 6px 12px;
        border: 0;
        outline: 0;
        background: #fff;
        border-bottom: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    .posline{
        display: none;
        left: -30px;
        position: absolute;
        top: -15px;
        
        i{
            position: absolute;
        }
        i.vertical {            
            border-left: 1px solid #504F4F;
            width: 0px;
            height: 30px;
            left: 15px;
            top: 0px;
        }
        i.horizontal {            
            width: 15px;
            border-bottom: 1px solid;
            top: 30px;
            left: 15px;
        }
    }
}

.tools-operation {
    float: right;
    i{
        display: block;
        float: left;
        transition: all 200ms linear;
        width: 32px;
        cursor: pointer;
        padding: 5px 6px;
        font-size: 18px;
        background: white;
        border: 1px solid #ddd;
        height: 30px;
        
    }
    i.pass {
        background: #1F7F1F;
    }
    i.done{
        color: #01FF01;
    }
    i.error{
        background:red;
    }
    i.warning{
        background:orange;
    }
    i.not-allowed{
        cursor: not-allowed;
    }


    .crud,.operation{
        float:left;
    }
    .crud i{
        &:hover{
            color:white;
            background: red;
        }
    }
    .operation i{
        &:hover{
            color: #FFFFFF;
            background: #6F6262;
        }
    }
    &.vedio{
        position:relative;
        &::after{
            content: "";
            position: absolute;
            background: #ddd url(../assets/imgs/icons/vedio.png) no-repeat;
            width: 30px;
            right: -35px;
            height: 30px;
            background-size: cover;
        }
    }
}
    